/* line 1, ../_scss/style.scss */
.wrapper {
  padding-top: 71px; }

/* line 5, ../_scss/style.scss */
.item {
  width: 20%;
  padding: 0 10px 0 10px; }

/* line 10, ../_scss/style.scss */
.navbar-fixed-top {
  border: none; }

/* line 14, ../_scss/style.scss */
.panel {
  border: none; }
