/* line 1, ../_scss/style.scss */
html {
  overflow-y: scroll; }

/* line 5, ../_scss/style.scss */
body {
  margin: 0 auto;
  line-height: 1.7em; }

/* line 10, ../_scss/style.scss */
.app {
  background: #eee; }

/* line 15, ../_scss/style.scss */
a {
  color: #3B8BBA;
  text-decoration: none; }

/* line 20, ../_scss/style.scss */
.l-box {
  padding: 1em; }

/* line 25, ../_scss/style.scss */
.header {
  margin: 0 0; }

/* line 29, ../_scss/style.scss */
.header .pure-menu {
  padding: 0.5em; }

/* line 34, ../_scss/style.scss */
.header .pure-menu li a:hover,
.header .pure-menu li a:focus {
  background: none;
  border: none;
  color: #aaa; }

/* line 40, ../_scss/style.scss */
body .primary-button {
  background: #02a6eb;
  color: #fff; }

/* line 45, ../_scss/style.scss */
.splash {
  margin: 2em auto 0;
  padding: 2em 0.5em 0;
  background: #eee; }

/* line 50, ../_scss/style.scss */
.splash .splash-subhead {
  color: #999;
  font-weight: 300;
  line-height: 1.4em; }

/* line 55, ../_scss/style.scss */
.splash .primary-button {
  font-size: 150%; }

/* line 59, ../_scss/style.scss */
.content {
  background: #FFF; }

/* line 63, ../_scss/style.scss */
.content .content-ribbon {
  margin: 3em;
  border-bottom: 1px solid #eee; }

/* line 68, ../_scss/style.scss */
.ribbon {
  background: #eee;
  text-align: center;
  padding: 2em;
  color: #999; }

/* line 74, ../_scss/style.scss */
.ribbon h2 {
  display: inline;
  font-weight: normal; }

/* line 79, ../_scss/style.scss */
.footer {
  background: #111;
  text-align: center;
  padding: 1em;
  bottom: 0; }

/* line 86, ../_scss/style.scss */
.l-centered {
  text-align: center; }

/* line 90, ../_scss/style.scss */
.container {
  margin-top: 2em;
  padding-top: 2em; }

/* line 95, ../_scss/style.scss */
.item {
  width: 16.66667%; }
  /* line 99, ../_scss/style.scss */
  .item .item__content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #B7B7B7;
    background-color: #fff; }
    /* line 105, ../_scss/style.scss */
    .item .item__content .item__image {
      text-align: center; }

/* line 111, ../_scss/style.scss */
#container {
  width: 1200px;
  margin: 0 auto; }

/* line 116, ../_scss/style.scss */
#myContent {
  -moz-column-count: 6;
  -moz-column-gap: 0px;
  -webkit-column-count: 6;
  -webkit-column-gap: 0px;
  column-count: 6;
  column-gap: 0px;
  width: 1200px; }

/* line 126, ../_scss/style.scss */
#myContent img {
  display: inline-block;
  margin-bottom: 0px;
  width: 100%; }

/* line 132, ../_scss/style.scss */
.nav__center {
  width: 100%;
  text-align: center; }

/* line 137, ../_scss/style.scss */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: #fff; }
  /* line 147, ../_scss/style.scss */
  .overlay .overlay__toolbar {
    background: #eee;
    color: #999;
    font-weight: 300;
    line-height: 1.4em;
    font-size: 150%;
    border-bottom: 1px solid #B7B7B7; }
  /* line 156, ../_scss/style.scss */
  .overlay .overlay__image {
    width: 100%;
    height: 100%;
    background: url(/images/uncle-sam.jpg) no-repeat center center fixed; }

/*
.scroll {
    overflow-y: scroll;
}
*/
