<div class="content pure-u-1" when-scrolled="check()">
    <div class="pure-g-r content-ribbon l-box">
        <div class="pure-u-1-4">
            <div class="l-box l-centered">
                <img ng-src="{{picture}}" alt="" class="yui3-img-eliptical">
            </div>
        </div>
        <div class="pure-u-3-4">
            <div class="l-box">
                <h4 class="subhead">{{name}}</h4>
                <h3>{{username}}</h3>
            </div>
        </div>
    </div>
</div>
<div class="pure-u-1"> 
    <div class="container">
        <div class="item" ng-repeat="photo in photos" photo-wall>
            <div class="item__content">
                <div class="item__image">
                    <a href="{{photo.src_large}}" class="fancybox" rel="gallery" title="{{photo.name}}">
                        <img ng-src="{{photo.src}}" alt="">
                    </a>
                </div>
                <div class="item__title">{{photo.name}}</div>
            </div>
        </div>
    </div>
</div>

